# {{title}}

{{#if description}}
{{description}}
{{/if}}

{{#each files}}

{{#each methods}}

{{#if description}}
## {{description}}
{{/if}}

{{{tags.summary}}}

{{#if tags.sourcecode}}

<a href="{{tags.sourcecode}}" target="_blank">View Source Code</a>

{{/if}}

{{#if tags.license}}
```javascript
{{tags.license}}
```
{{/if}}

{{#if tags.listens}}

### Invoked By

{{tags.listens}}

{{/if}}

{{#if tags.interface}}

### API Gateway URL

`POST {{{tags.interface}}}`

{{/if}}

{{#if tags.param}}

### JSON Payload Structure

| Parameter | Type | Description | Required |
| ---- | ---- | ----------- | -------- |
{{#each tags.param}}
| {{name}} | {{#each types}}`{{{.}}}` {{/each}} | {{{replaceNewLinesWithBR description}}} | {{#if isOptional}}No{{else}}Yes{{/if}} |
{{/each}}

{{/if}}

{{#if tags.property}}

### SNS Payload Structure

| Key | Type | Description |
| ---- | ---- | ----------- |
{{#each tags.property}}
| {{name}} | {{#each types}}`{{{.}}}` {{/each}} | {{{replaceNewLinesWithBR description}}} |
{{/each}}

{{/if}}

{{#if tags.topic}}

### SNS Topic

{{tags.topic}}

{{/if}}

{{#if tags.return}}

### Response Values

| Code | Description |
| ---- | ----------- |
{{#each tags.return}}
| {{{replaceNewLinesWithBR description}}} |
{{/each}}

{{/if}}

{{/each}}

{{/each}}
