# {{title}}

{{#if description}}
{{description}}
{{/if}}

{{#each files}}

{{#each methods}}

{{#if description}}
## {{description}}
{{/if}}

{{{tags.summary}}}

{{#if tags.sourcecode}}

<a href="{{tags.sourcecode}}" target="_blank">View Source Code</a>

{{/if}}

{{#if tags.snippet}}
```javascript
{{tags.snippet}}
```
{{/if}}

{{#if tags.invocation}}

### Invoked By

{{tags.invocation}}

{{/if}}

{{#if tags.apigateway}}

### API Gateway URL

`POST {{{tags.apigateway}}}`

{{/if}}

{{#if tags.param}}

### JSON Payload Structure

| Parameter | Type | Description | Required |
| ---- | ---- | ----------- | -------- |
{{#each tags.param}}
| {{name}} | {{#each types}}`{{{.}}}` {{/each}} | {{{replaceNewLinesWithBR description}}} | {{#if isOptional}}No{{else}}Yes{{/if}} |
{{/each}}

{{/if}}

{{#if tags.property}}

### SNS Payload Structure

| Key | Type | Description |
| ---- | ---- | ----------- |
{{#each tags.property}}
| {{name}} | {{#each types}}`{{{.}}}` {{/each}} | {{{replaceNewLinesWithBR description}}} |
{{/each}}

{{/if}}

{{#if tags.topic}}

### SNS Topic

{{tags.topic}}

{{/if}}

{{#if tags.return}}

### Response Values

| Code | Description |
| ---- | ----------- |
{{#each tags.return}}
| {{{replaceNewLinesWithBR description}}} |
{{/each}}

{{/if}}

{{/each}}

{{/each}}
