# {{title}}

{{#if description}}
{{description}}
{{/if}}

{{#each files}}

{{#each methods}}

{{#if description}}
## {{description}}
{{/if}}

{{{tags.summary}}}

{{#if tags.sourcecode}}
{{#each tags.sourcecode}}
<aside class="notice">
<a href="{{description}}" target="_blank">View source code on {{name}}</a>
</aside>
{{/each}}
{{/if}}

{{#if tags.gsheet}}
{{#each tags.gsheet}}
<aside class="notice">
<a href="{{name}}" target="_new">{{description}}</a>
</aside>
{{/each}}
{{/if}}

{{#if tags.gdrive}}
{{#each tags.gdrive}}
<aside class="notice">
<a href="{{name}}" target="_new">{{description}}</a>
</aside>
{{/each}}
{{/if}}

{{#if tags.s3objectpath}}
{{#each tags.s3objectpath}}
<aside class="notice">
<a href="https://s3.console.aws.amazon.com/s3/object/{{name}}?region=eu-west-1&tab=overview" target="_new">{{description}}</a>
</aside>
{{/each}}
{{/if}}

{{#if tags.snippet}}
```javascript
{{tags.snippet}}
```
{{/if}}

{{#if tags.invocation}}
{{#each tags.invocation}}
### Invoked By {{name}}

{{#ifEquals name "SNS"}}
<a href="https://eu-west-1.console.aws.amazon.com/sns/v2/home?region=eu-west-1#/topics/{{description}}" target="_blank">{{description}}</a>
{{else}}
{{description}}
{{/ifEquals}}
{{/each}}
{{/if}}

{{#if tags.apigateway}}
### API Gateway URL

{{#each tags.apigateway}}
`{{name}} {{description}}`
{{/each}}
{{/if}}

{{#if tags.param}}
### API Request Parameters

| Parameter | Type | Description | Required |
| ---- | ---- | ----------- | -------- |
{{#each tags.param}}
| {{name}} | {{#each types}}`{{{.}}}` {{/each}} | {{{replaceNewLinesWithBR description}}} | {{#if isOptional}}No{{else}}Yes{{/if}} |
{{/each}}
{{/if}}

{{#if tags.snsoutput}}
### SNS Output

{{#each tags.snsoutput}}
{{description}} <a href="https://eu-west-1.console.aws.amazon.com/sns/v2/home?region=eu-west-1#/topics/{{name}}" target="_blank">{{name}}</a>
{{/each}}
{{/if}}

{{#if tags.property}}
### SNS Payload Structure

| Key | Type | Description |
| ---- | ---- | ----------- |
{{#each tags.property}}
| {{name}} | {{#each types}}`{{{.}}}` {{/each}} | {{{replaceNewLinesWithBR description}}} |
{{/each}}
{{/if}}

{{#if tags.sqsqueue}}
### SQS Messages

{{#each tags.sqsqueue}}
{{name}} messages -> <a href="https://eu-west-1.console.aws.amazon.com/sqs/home?region=eu-west-1" target="_blank">{{description}}</a>
{{/each}}
{{/if}}

{{#if tags.return}}
### Return Values

| Code | Description |
| ---- | ----------- |
{{#each tags.return}}
| {{{replaceNewLinesWithBR description}}} |
{{/each}}
{{/if}}

{{/each}}

{{/each}}
